{{> head }}

{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1> Hola About</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquam sunt corporis eius, et nisi natus maxime quos architecto tenetur cum voluptatum. Est vel voluptatum eos, delectus ea ipsa distinctio.</p>
        </div>
        <div class="col-4">
            <img src="assets/images/luna.jpg" alt="Luna" class="img-thumbnail">
        </div>
    </div>
    
{{> footer }}